*{
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(63, 63, 63);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 480px;
    margin-top: 10ex;   
}

.cell{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}

.cell:hover{
    cursor:cell;
}

h1{
    color: white;
}

.buttons_container{
    display: flex;
    flex-direction: column;
}

button{
    margin-top: 10px;
}

#sizeButton{
    border: none;
    border-radius: 10%;
    height: 2rem;
    width: 10rem;
    padding: 0.5em;
    font-weight: 700;
    transition: all 0.3s ease;
}

#sizeButton:hover{
    cursor: pointer;
    background-color: aquamarine;
    transform: scale(1.1);
}

#resetButton{
    border: none;
    border-radius: 10%;
    height: 2rem;
    width: 10rem;
    padding: 0.5em;
    font-weight: 700;
    transition: all 0.3s ease;
}

#resetButton:hover{
    cursor: pointer;
    background-color: aquamarine;
    transform: scale(1.1);
}
